.select-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.select-box select {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}
